@use 'theme' as theme;
@import "variables";

.chip-filter {
  background-color: theme.get-color(primary,50);
  border-radius: 8px;
  min-width: 88px;
  height: 32px;
  padding: 0 4px 0 8px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid $outline-color;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  > span {
    text-align: center;
    width: 100%;
  }

  .icon-backdrop {
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

    &:hover {
      background-color: $hover-color;
    }

    .mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }
}
