@use 'theme' as theme;
@import "../../../../styles/variables";

.chip-tag {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 11px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  &.red {
    background-color: $chip-tag-red-background;
    color: $chip-tag-red-color;
  }

  &.blue {
    background-color: $chip-tag-blue-background;
    color: $chip-tag-blue-color;
  }

  &.light-blue {
    background-color: $chip-tag-light-blue-background;
    color: $chip-tag-light-blue-color;
  }

  &.green {
    background-color: $chip-tag-green-background;
    color: $chip-tag-green-color;
  }

  &.orange {
    background-color: $chip-tag-orange-background;
    color: $chip-tag-orange-color;
  }
}
