@use 'theme' as theme;
@import 'variables';

$thumb-size: 22px;

.toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.toggle {
  width: 44px;
  height: 24px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  transition: background 0.3s ease-in-out;

  .toggle-thumb {
    width: $thumb-size;
    height: $thumb-size;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease-in-out;
  }

  &.checked {
    background: theme.get-color(primary, 500);

    .toggle-thumb {
      transform: translateX(20px);
    }
  }
}

.toggle-label {
  margin-left: 10px;
  font-size: 14px;
}
