@use 'theme' as theme;
@import "variables";


.input-container {
    position: relative;
    font-family: $font-family;
    font-weight: $font-weight;
    display: grid;
    width: fit-content;
}

.label {
    color: $text-color;
    font-weight: $font-weight-semibold;
    font-size: $regular-font-size;
}

.input {
    border-radius: 4px;
    border: none;
    background-color: theme.get-color(gray,500);
    color: $text-color;

  &:focus {
    outline: none;
    border: $border-width solid theme.get-color(primary,500);
  }

  &::placeholder {
    color: theme.get-color(primary,300);
  }
}

