$primary-color: #58A4B0;
$primary-hover: #41818B;
$secondary-color: #CDE1E4;
$secondary-hover: #BDD7DB;
$success-color: #8EAE5A;
$success-color-hover: #6E8943;
$error-color: #C0484A;
$error-color-hover: #983436;
$danger-color: #CE843A;
$danger-color-hover: #A36629;
$black-color: #162521;
$white-color: #EFF5F4;
