// Dark Palette
$dark-50: rgb(239 245 244 / 100%);
$dark-100: rgb(223 236 233 / 100%);
$dark-200: rgb(191 217 210 / 100%);
$dark-300: rgb(159 198 188 / 100%);
$dark-400: rgb(127 179 165 / 100%);
$dark-500: rgb(22 37 33 / 100%);
$dark-600: rgb(76 128 114 / 100%);
$dark-700: rgb(57 96 86 / 100%);
$dark-800: rgb(38 64 57 / 100%);
$dark-900: rgb(19 32 29 / 100%);
$dark-950: rgb(10 16 14 / 100%);

// Gray Palette
$gray-50: rgb(238 245 246 / 100%);
$gray-100: rgb(222 235 237 / 100%);
$gray-200: rgb(189 215 219 / 100%);
$gray-300: rgb(156 195 201 / 100%);
$gray-400: rgb(123 175 183 / 100%);
$gray-500: rgb(205 225 228 / 100%);
$gray-600: rgb(72 124 132 / 100%);
$gray-700: rgb(54 93 99 / 100%);
$gray-800: rgb(36 62 66 / 100%);
$gray-900: rgb(18 31 33 / 100%);
$gray-950: rgb(9 16 17 / 100%);

// Primary Palette
$primary-50: rgb(238 246 247 / 100%);
$primary-100: rgb(220 236 239 / 100%);
$primary-200: rgb(186 217 222 / 100%);
$primary-300: rgb(151 199 206 / 100%);
$primary-400: rgb(116 180 190 / 100%);
$primary-500: rgb(88 164 176 / 100%);
$primary-600: rgb(65 129 139 / 100%);
$primary-700: rgb(49 97 104 / 100%);
$primary-800: rgb(33 64 69 / 100%);
$primary-900: rgb(16 32 35 / 100%);
$primary-950: rgb(8 16 17 / 100%);

// Secondary Palette
$secondary-50: rgb(247 239 238 / 100%);
$secondary-100: rgb(239 223 220 / 100%);
$secondary-200: rgb(222 191 186 / 100%);
$secondary-300: rgb(206 158 151 / 100%);
$secondary-400: rgb(190 126 116 / 100%);
$secondary-500: rgb(176 100 88 / 100%);
$secondary-600: rgb(139 75 65 / 100%);
$secondary-700: rgb(104 56 49 / 100%);
$secondary-800: rgb(69 38 33 / 100%);
$secondary-900: rgb(35 19 16 / 100%);
$secondary-950: rgb(17 9 8 / 100%);

// Orange Palette
$orange-50: rgb(250 242 235 / 100%);
$orange-100: rgb(245 230 214 / 100%);
$orange-200: rgb(235 204 173 / 100%);
$orange-300: rgb(225 179 132 / 100%);
$orange-400: rgb(214 153 92 / 100%);
$orange-500: rgb(206 132 58 / 100%);
$orange-600: rgb(163 102 41 / 100%);
$orange-700: rgb(123 77 30 / 100%);
$orange-800: rgb(82 51 20 / 100%);
$orange-900: rgb(41 26 10 / 100%);
$orange-950: rgb(20 13 5 / 100%);

// Red Palette
$red-50: rgb(248 236 236 / 100%);
$red-100: rgb(242 217 217 / 100%);
$red-200: rgb(229 179 180 / 100%);
$red-300: rgb(216 141 142 / 100%);
$red-400: rgb(203 103 105 / 100%);
$red-500: rgb(192 72 74 / 100%);
$red-600: rgb(152 52 54 / 100%);
$red-700: rgb(114 39 40 / 100%);
$red-800: rgb(76 26 27 / 100%);
$red-900: rgb(38 13 13 / 100%);
$red-950: rgb(19 7 7 / 100%);

// Green Palette
$green-50: rgb(243 247 238 / 100%);
$green-100: rgb(232 238 221 / 100%);
$green-200: rgb(208 221 187 / 100%);
$green-300: rgb(185 205 152 / 100%);
$green-400: rgb(161 188 118 / 100%);
$green-500: rgb(142 174 90 / 100%);
$green-600: rgb(110 137 67 / 100%);
$green-700: rgb(83 103 50 / 100%);
$green-800: rgb(55 68 34 / 100%);
$green-900: rgb(28 34 17 / 100%);
$green-950: rgb(14 17 8 / 100%);
