@use '@angular/material' as mat;

$dark-palette: (
  50: rgba(239, 245, 244, 1),
  100: rgba(223, 236, 233, 1),
  200: rgba(191, 217, 210, 1),
  300: rgba(159, 198, 188, 1),
  400: rgba(127, 179, 165, 1),
  500: rgba(22, 37, 33, 1),
  600: rgba(76, 128, 114, 1),
  700: rgba(57, 96, 86, 1),
  800: rgba(38, 64, 57, 1),
  900: rgba(19, 32, 29, 1),
  950: rgba(10, 16, 14, 1),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$primary-palette: (
  50: rgba(238, 246, 247, 1),
  100: rgba(220, 236, 239, 1),
  200: rgba(186, 217, 222, 1),
  300: rgba(151, 199, 206, 1),
  400: rgba(116, 180, 190, 1),
  500: rgba(88, 164, 176, 1),
  600: rgba(65, 129, 139, 1),
  700: rgba(49, 97, 104, 1),
  800: rgba(33, 64, 69, 1),
  900: rgba(16, 32, 35, 1),
  950: rgba(8, 16, 17, 1),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$secondary-palette: (
  50: rgba(247, 239, 238, 1),
  100: rgba(239, 223, 220, 1),
  200: rgba(222, 191, 186, 1),
  300: rgba(206, 158, 151, 1),
  400: rgba(190, 126, 116, 1),
  500: rgba(176, 100, 88, 1),
  600: rgba(139, 75, 65, 1),
  700: rgba(104, 56, 49, 1),
  800: rgba(69, 38, 33, 1),
  900: rgba(35, 19, 16, 1),
  950: rgba(17, 9, 8, 1),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$tertiary-palette: (
  50: rgba(250, 242, 235, 1),
  100: rgba(245, 230, 214, 1),
  200: rgba(235, 204, 173, 1),
  300: rgba(225, 179, 132, 1),
  400: rgba(214, 153, 92, 1),
  500: rgba(206, 132, 58, 1),
  600: rgba(163, 102, 41, 1),
  700: rgba(123, 77, 30, 1),
  800: rgba(82, 51, 20, 1),
  900: rgba(41, 26, 10, 1),
  950: rgba(20, 13, 5, 1),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);


// Créez des palettes Angular Material
//$dark-theme: mat.define-palette($dark-palette);
//$primary-theme: mat.define-palette($primary-palette);
//$secondary-theme: mat.define-palette($secondary-palette);
//$orange-theme: mat.define-palette($orange-palette);
