@use '../../../../../styles/theme' as theme;
@import '../../../../../styles/variables';

$checkbox-size: 24px;
$checkbox-border-radius: 6px;

.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  .checkbox-box {
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: $checkbox-border-radius;
    background-color: $background-surface-color;
    border: $border-width solid theme.get-color(primary, 500);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    stroke: #f9f9f9;
    stroke-dasharray: 25;
    stroke-dashoffset: -25;
    stroke-linecap: round;
    stroke-width: 0.2em;
    fill: none;
    transition:
      background 0.2s,
      stroke-dashoffset 0.4s;

    .check-icon {
      width: 18px;
      height: 18px;
      color: white;
    }
  }

  &.disabled .checkbox-box {
    border-color: theme.get-color(gray, 300) !important;
  }

  input:checked + .checkbox-box {
    background-color: theme.get-color(primary, 500);
    stroke-dashoffset: 0;
  }

  &.disabled {
    cursor: default;

    input:checked + .checkbox-box {
      background-color: theme.get-color(gray, 300) !important;
    }
  }

  input {
    display: none;
  }
}
