<div class="side-preview-duo" appResizable>
  <div class="textarea-container">
    <app-input-textarea height="100%" class="input-textarea" [resizable]="false" [(value)]="value" [placeholder]="placeholder()"></app-input-textarea>
    <div class="label-indicator-markdown">
      <app-chip-tag color="blue">Code</app-chip-tag>
    </div>
  </div>
  <div class="markdown-container">
    <div class="label-indicator-markdown">
      <app-chip-tag color="red">Markdown</app-chip-tag>
    </div>
    <div class="scrollable-container">
      <markdown [data]="value()"></markdown>
    </div>
  </div>
</div>
