<div class="card-container">
    <div class="card">
        <h3 data-cy="project-title" class="project-title">{{ project().name }}</h3>
        <p data-cy="project-description" class="project-description" >{{ project().description }}</p>
        <div  class="card-chips">
            @for (chip of project().tags; track chip) {
                <app-chip-tag data-cy="project-tags" [color]="chip.color">{{ chip.name }}</app-chip-tag>
            }
        </div>
    </div>
    <div class="back-card-dark"></div>
    <div class="back-card"></div>
</div>