@import "styles/font";
@import "styles/variables";
@use '@angular/material' as mat;
@use 'styles/theme' as theme;
@include mat.core;


// Define the theme object.
$teamoop-frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($teamoop-frontend-theme);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight;
  color: theme.get-color(dark,500);
  background: theme.get-color(primary,50);
}

button {
  all: unset;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}
