@use '@angular/material' as mat;
@use 'theme' as theme;
@import 'font';
@import 'variables';
@include mat.core;

// Define the theme object.
$teamoop-frontend-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($teamoop-frontend-theme);

  --font-montserrat: 'Montserrat';
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: $font-weight-extrabold;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-montserrat);
  font-weight: $font-weight;
  background-color: $background-surface-color;
}

button {
  all: unset;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

.wide-container {
  width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}
