@use 'theme' as theme;
@import 'variables';

.segmented-button-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  .segmented-button {
    display: flex;
    width: 90px;
    padding: 0 16px 0 16px;
    justify-content: center;
    align-items: center;
    border: $border-width solid $outline-color;

    stroke: $text-color;
    stroke-dasharray: 25;
    stroke-linecap: round;
    gap: 8px;
    fill: none;
    stroke-width: 0.1em;
    border-radius: 6px;

    transition:
      background 0.2s,
      stroke-dashoffset 0.4s;

    &.selected {
      background-color: theme.get-color(gray, 100);
    }

    &:has(+ .segmented-button) {
      border-right: none;
    }
    &.first {
      border-radius: 9999px 0 0 9999px;
    }
    &.last {
      border-radius: 0 9999px 9999px 0;
    }
    &.middle {
      border-radius: 0;
    }
    .check-icon {
      width: 18px;
      height: 18px;
      color: $text-color;
    }
  }
}
